body {
    background-image: url(../img/sky.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.bd {
    background-color: blue;
    border-radius: 30px 40px;
    margin: auto;
    margin-top: 3%;
    padding: 10px;
}

.hdj {
    color: wheat;
    }

.fg {
    font-weight: bolder;
    color: rgb(214, 89, 89);
}

