.wh {
   height: 730px;
   width: 100%;
}

.colll {
   margin-top: 4%;
}

body {
   background-image: url(https://cdn.wallpapersafari.com/34/10/vB6eCf.gif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}

.widf {
   width: 10px;
}